<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
    <bean id="baseEmployeeBean" class="beans.Employee">
        <property name="company" value="Wipro" />
    </bean>
    <bean id="myEmployeeBean" parent="baseEmployeeBean">
        <property name="empId" value="1016" />
        <property name="name" value="Vishal Garg" />
    </bean>
</beans>